/* GLOBAL STYLES About slider //Mian Zaid
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	width:100%;
	height: 200px;
	margin:0px auto 0px auto;
}

.slide{
	border:1px solid #CCC;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 200px;
  background-color:transparent;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 200px;
}





/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 480px) {
	.carousel {
	  height: auto;
	}

}

@media(max-width:767px){
	.carousel {
	  height: auto;
	}
	#aboutOcB{
		position:relative;
	}
}

@media (min-width: 768px) {
	.carousel {
	  height: auto;
	}
	
}

@media (min-width: 992px) {
	.carousel {
	  height: auto;
	}
}

@media (min-width: 1200px) {
	.carousel {
	width:100%;
	height: auto;
	margin:0px auto 0px auto;
}

}