body
{
	color:#444;
}
.container
{
	width:80%;
}
a, a:hover, a:active{
	color: #000;
}
img{max-width:100%}
.cntr{text-align:center;}
.ourServices {padding:40px 0}
.ourServices img{max-width:140px}
.title{ border-bottom:1px solid #eee; padding-bottom:4px; margin-bottom:20px;}
.topHeaderSection{background:#FFF; padding:0;}

.heigh_fix
{
	height:380px;
}

.header {
z-index: 999;
position: relative;
padding: 0;
box-shadow:0px 1px 5px #000;
}
.is-sticky {
width: 100%;
background-color: #ffffff;
background-color: rgba(255, 255, 255, 0.95);
}
.fa{margin:0px 0px 0px 5px;}

/*.fa-desktop:hover{color:#dd4b39; cursor:pointer;}
.fa-mobile:hover{color:#3b5998; cursor:pointer;}
.fa-cubes:hover{color:#096; cursor:pointer;}
.fa-globe:hover{color:#00aced; cursor:pointer;}*/

.fa-phone-square{color:#930;}
.fa-skype{	color:#0BBFF2;cursor:pointer;}
.fa-skype:hover
{
	transition: all 0.3s ease-in-out 0.3s;
	text-shadow:none;
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	
	-ms-transform:rotate(360deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0); /*for microsoft IE rotate property*/
	
	-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
}
.fa-facebook-square{color:#3b5998;}
.fa-facebook-square:hover
{

	transition: all 0.3s ease-in-out 0.3s;
	text-shadow:none;
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	
	-ms-transform:rotate(360deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0); /*for microsoft IE rotate property*/
	
	-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
}
.fa-google-plus-square{	color:#dd4b39;}
.fa-google-plus-square:hover
{

	transition: all 0.3s ease-in-out 0.3s;
	text-shadow:none;
	transform:rotate(360deg);/* property to rotate */
	-webkit-transform:rotate(360deg); /*webkit css property to rotate*/
	
	-ms-transform:rotate(360deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0); /*for microsoft IE rotate property*/
	
	-o-transform:rotate(360deg); /*for Opera rotate property*/
	-moz-transform:rotate(360deg); /*for Mozila+chrome rotate property*/
}
.fa-linkedin-square{	color:#007bb6;}
.fa-linkedin-square:hover
{

	transition: all 0.3s ease-in-out 0.3s;
	text-shadow:none;
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	
	-ms-transform:rotate(360deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0); /*for microsoft IE rotate property*/
	
	-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
}
.fa-twitter-square{	color:#00aced;}
.fa-twitter-square:hover
{

	transition: all 0.3s ease-in-out 0.3s;
	text-shadow:none;
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	
	-ms-transform:rotate(360deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0); /*for microsoft IE rotate property*/
	
	-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
}
.form-control
{
	margin:5px 0px 0px 0px;
}

.pull-right strong
{
	background:#FFF;
	z-index:1;
	border-radius:0px 0px 5px 5px;
	padding:10px 5px 8px 5px;
	box-shadow:0px 2px 3px #333;
}

.contat_container
{
	background:#FFF;
	position:relative;
	top:150px;
	z-index:1;
	background-color:transparent;
}
.tcolor
{
	color:#FFF;
}
.boxshadow
{
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;	
}

h1
{
	color:#3b5998;
	font-size:24px;
	border-bottom:1px solid #ccc;
}

h2
{
	color:#3b5998;
	font-size:20px;
}

/*hr
{
	border:1px solid #444444 !important;
}*/
.col-lg-2 a h1
{
	font-size:16px;
	text-transform:capitalize;
}

.logo_color{color:#3586C1;}
.fb_color:hover{color:#3b5998;}
.go_color:hover{color:#dd4b39;}
.twit_color:hover{color:#00aced;}
.link_color:hover{color:#007bb6;}
.DR_color:hover{color:#993300;}
.fliker_color:hover{color:#ff0084;}
.gren_color:hover{color:#779F01;}
.orng_color:hover{color:#C60;}

/*.lock:hover .fa-unlock,
.lock .fa-lock {
    display: none;
}
.lock:hover .fa-lock {
    display: inline;
}*/


/* --------------------------- */
/* --------------------------- */
/*Top Bar (login, search etc.)
------------------------------------*/
.top {
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(85%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 85%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

	z-index:9999;
}
.top .container {
    padding:0 15px;
}

.phone-mail {
    margin:0 20px 0 0;
    padding:0;
    z-index:9999;
    list-style:none;
    position:relative;
    float: left;
}
.phone-mail li {
    display:inline;
    list-style:none;
    padding-bottom:15px;
    margin-right: 5px;
}
.phone-mail i {
    font-size:11px;
    margin-top:3px;
    margin-right: 3px;
    color:#CCC;
}
.phone-mail li span {
    color:#CCC;
    font-size:11px;
    font-family: 'Roboto', sans-serif;
}

.loginbar {
	margin:0;
	padding:0;
	z-index:9999;
	list-style:none;
	position:relative;
    float: right;
}
.panel-heading
{
	color:#000;
	font-size:16px;
	font-weight:bolder;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{background:#f5f5f5; }
.tab-content>.active{background:#f5f5f5 !important; border-left:1px solid #cfcdcd; border-right:1px solid #cfcdcd; border-bottom:1px solid #cfcdcd;}

.panel-body p
{
	font-weight:normal;
}

@media (max-width: 480px) {
    .loginbar {
        float: left;
    }
	.navbar-brand img{
		width:150px;
		margin:20px 0px 0px 0px;
		padding:0;
	}
	#_top_links
	{
		display:none;
	}
}

.loginbar li {
	display:inline;
	list-style:none;
}

.loginbar li a,
.loginbar li a:hover {
	color:#CCC;
	font-size:11px;
    font-family: 'Roboto', sans-serif;
}

.loginbar li.devider { 
	top:-1px;
	padding:0;
	font-size:8px;
	position:relative;
	margin:0 6px 0 2px;
	font-family:Tahoma;
	border-right:solid 1px #bbb;
}

.loginbar i {
	color:#CCC;
	font-size:18px;
	margin-top:3px;
	cursor:pointer;
}

/*Lenguages*/
.loginbar li ul { 
	top:18px;
	margin:0;
	left:-6px;
	display:none; 
	padding-top:4px;
	position:absolute; 
	border-radius:3px;
	padding-bottom:4px;
	background:#f0f0f0;
}

.loginbar li:hover ul { 
	display:block; 
}

.loginbar li ul li { 
	padding-bottom:0;
	display:list-item;
	position:relative;
	margin-bottom:1px;
}

.loginbar li ul li a { 
	color:#555;
	display:block;
	min-width:85px; 
	font-size:10px;
	padding:2px 12px;
	background:#f0f0f0;
	text-decoration:none;
}

.loginbar li ul li a:hover, 
.loginbar li ul li.active a {
	opacity:1 !important;
	color:#555 !important;
	font-size:10px !important;
	text-shadow:none !important;
	background:#fafafa !important;
}

.loginbar li ul li.active i {
	top:2px;
	right:-5px;
	font-size:14px;
	cursor:default;
	position:absolute;
	text-shadow:0 1px 0 #e9e9e9;
}

.loginbar i.icon-globe {
	color:#bbb;
	font-size:13px;
	margin:3px 3px 0 0;
}

.loginbar li i.icon-sort-up {
	top:21px; 
	left:-1px;
	color:#eee;
	display:none;
	font-size:14px;
	cursor:default;
	position:absolute;
}

.loginbar li:hover i.icon-sort-up {
	display:block;
}

.loginbar li:hover i.icon-ok {
	top:-2px;
	color:#aaa;
}
/* --------------------------- */
/* --------------------------- */
.bannerSection{background:#FFF url(../img/bg.png) repeat; padding:0}
.highlightSection{color:#333; background:#fff; padding:18px 0; border-bottom: 6px solid #F60;}
.highlightSection h2{padding-top:0; margin-top:0; font-size:21px}
.highlightSection h4{padding-top:0; margin-top:0; line-height:1.6em; font-size:18px}
.bodySection{background:#fff; padding:18px 0}
.align-right{text-align:right}

.testimonails{background:#f7f7f7; padding:14px; margin:28px 0 44px }
.projectList{}
.projectList img{padding:4px; border:1px solid #eee; background:#f5f5f5;}


.projectImg{max-width:140px}
.clientSection{background:#fff; box-shadow:5px 5px 5px #CCC; padding:18px 0; margin-bottom:20px; padding:18px }
.footerTopSection{background:#EEEEEE; padding:18px 0; border-top:1px solid #000;}
.footerBottomSection{ background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(85%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 85%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */ padding:18px 0; color:#fff}
.footer{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;background-color:transparent; width:80%; border-radius:5px;}
#topcontrol:hover {color: #993300;}
#topcontrol, #topcontrol:hover {
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.blockquote {border-left: 5px solid #FF792D;}
/* Toggle menu */
.navbar-collapse {background:#fff;z-index: 9999;}
.navbar-toggle {border-radius: 0;outline:0}
.navbar-toggle span {border-color: #ff0000;background: red;}
.nav>li>a:hover, .nav>li>a:focus {text-decoration: none;background-color: #fff;}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {background-color: #3276B1; color:#FFF; border-color: #428bca;}
.navbar-nav>li>a{
	padding-top:6px;
	padding-bottom:8px;
	color:#858585;
	transition:ease-out 0.7s;
	-moz-transition:ease-out 0.7s;
	-ms-transition:ease-out 0.7s;
	-o-transition:ease-out 0.7s;
	-webkit-transition:ease-out 0.7s;
	}

.navbar-nav>li.active>a, .navbar-nav>li>a:hover {
	color: #FFF;
	background:#3276B1;
	border-radius:50px;
  transition:ease-in 0.7s;
  -moz-transition:ease-in 0.7s;
  -ms-transition:ease-in 0.7s;
  -o-transition:ease-in 0.7s;
  -webkit-transition:ease-in 0.7s;
  }

.navbar-nav.navbar-right:last-child {margin-right: -15px;margin-top: 34px; margin-bottom: -18px;}

.btn-brand{background-color:transparent; border-color: #444;color:#444; border-radius:0;}
.btn-brand:hover, .btn-brand:focus, .btn-brand:active, .btn-brand.active, .open .dropdown-toggle.btn-brand {color:#3276B1; background-color:transparent; border-color:#3276B1;}

.serviceBlock{ padding:38px 0; margin:18px 0}

.services {padding:38px 0; margin:18px 0}
.serviceBlock i {
float: left;
padding: 14px;
color: #00B8FF;
font-size: 6em;
text-align: center;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
blockquote {
border-left: 5px solid #ff4800;
}

.margin_one
{
	margin:0px 0px 0px 30px;
}

.margin_two
{
	margin:0px 0px 0px 50px;
}

.margin_three
{
	margin:0px 0px 0px 70px;
}

/* Media Query */
 
 /* Small devices (mobiles, 480px) */
@media (max-width: 480px) {
.topHeaderSection {padding: 0;}
.da-slide .da-img{display:none}
.da-slide h2 {top: 18px;}
.da-slide p {top: 255px;}
.navbar-nav.navbar-right:last-child {margin-top: 0px;margin-bottom: 0px;}
.navbar-toggle {margin-top: 21px;}
h2{text-align:center;}
#social_icons_slider{display:none;}
 }
 
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	#_top_links{
		display:none;
	}
}
@media (min-width: 768px) {
	#_top_links{
		display:block;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
